.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}

.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}

.my-message {
    background: var(--ion-color-success-tint);
    color: #fff;
}

.other-message {
    background: var(--ion-color-danger-contrast);
    color: #000;
}

.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}

#fondo {
    --background: #d8dbd5;
}

#header {
    --background: #009688;
}

#titulos {
    color: #fff;
}

#salida {
    --background: #fff;
}

#download {
    --background: #2b7cd3;
    color: #fff;
}
.message-img {
    max-width: 100px;
}
.fab-button {
    bottom: -55px;
    left: 2px;
}
.main-fab-button {
    transform: scale(0.7);
}

.file-fab-button {
    ion-input {
        opacity: 0;
    }
    ion-icon {
        position: absolute;
        right: 12px;
    }
}
