<ion-header>
  <ion-toolbar id="header">
    <ion-title id="titulos">Inicia Sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button id="titulos" fill="clear" routerLink="/recuperar" routerLinkActive="active">¿Has olvidado la contraseña?</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="fondo">

  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input placeholder="Correo Electrónico" formControlName="email" autofocus="true" clearInput="true"></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-input placeholder="Contraseña" type="password" formControlName="password" clearInput="true"></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>

  </form>

  <div class="centrado">
    <ion-button (click)="signIn()" color="primary" class="centrado"> <strong>Iniciar Sesión</strong> &nbsp; <ion-icon name="home-outline"></ion-icon></ion-button>
  </div>
  <div class="centrado">
    <ion-button id="registro" routerLink="/register" routerLinkActive="active" >Registrarse &nbsp; <ion-icon name="book-outline"></ion-icon></ion-button>
  </div>
</ion-content>