.centrado{
    text-align: center;
    padding: 1px;
}

#registro{
    --background: #42B72A;
}

#fondo{
    --background: #D8DBD5;
}

#header{
    --background: #009688;
}

#titulos{
    color: #fff;
}

#salida{
    --background: #fff;
}